.newGamesCard {
    max-width: 400px;
    height: 100%;
}

.newGamesImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.newGamesImg:hover{
    cursor: pointer;
    filter: brightness(80%);
}

.newGamesText{
    font-size: 2.625rem;
}

.parentNewGamesFilter{
    display: flex;
    justify-content: flex-end;
}

.newGamesFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding: 8px 15px;
    color: rgb(0,90,189);
    border: none;
    gap: 5px;
    background-color: transparent;
    transition: 0.4s;
}


.newGamesFilter:hover{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    cursor: pointer;
    color: rgba(13, 58, 110, 0.849);
}