*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.HomeGamesCard {
    max-width: 400px;
    height: 100%;
}

.HomeGamesGrid{
    border: 1px solid red;
}

.HomeGamesSliderCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.HomeGamesSliderImg {
    width: 216px;
    height: 216px;
}

.top10Carousel {
    width: 90%;
    margin: 0 auto;
}


.HomeGamesImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}


.HomeGamesImg:hover {
    cursor: pointer;
    filter: brightness(80%);
}


.top10Games{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.top10Label{
    width: 100%;
    margin-left: 105px;
}

.top10Label > p{
    font-size: 1.525rem;
}