.TopNav {
  height: 1.9375rem;
  width: 100%;
  margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.TopNavImg {
  width: 4.2rem;
  margin-right: 0.8rem;
}

.NavbarImg {
  width: 2.5rem;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.LinksAndLogo{
  display: flex;
}

.ButtonsAndSearch{
  display: flex;
  align-items: center;
}

